.button {
  width: 118px;
  height: 48px;
  border: 0;
  padding: 0 10px 0 10px;
  font-size: 14px;
  color: #F4F6F9;
  background-color: #403432;
  cursor: pointer;
}

.button:hover {
  background-color: #776763;
}

.button:disabled {
  background-color: #C1B4B1;
  cursor: not-allowed;
}

.button--loading {
  background-color: #776763;
  cursor: not-allowed;
}

.button--withIcon {
  background-color: #5B3A32 !important;
}

.loading__icon {
  animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}