* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather';
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-weight: normal;
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 14px;
  font-weight: lighter;
}

.message {
  text-align: center;
  font-size: 30px;
}